{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashdeck/card_basic

    Both faces of a basic two-sided card. The back face is a native
    details element so the reveal works without JavaScript; the study
    module upgrades it to a flip.

    Example context (json):
    {
        "fronthtml": "<p>What does the suffix <em>-itis</em> mean?</p>",
        "backhtml": "<p>Inflammation.</p>"
    }
}}
<div class="flashdeck-face flashdeck-face-front">
    <div class="flashdeck-face-body">
        {{{fronthtml}}}
    </div>
</div>
<details class="flashdeck-face flashdeck-face-back">
    <summary class="flashdeck-reveal">{{#str}} showanswer, mod_flashdeck {{/str}}</summary>
    <div class="flashdeck-face-body">
        {{{backhtml}}}
    </div>
</details>
